# General aliases
alias c="clear"
alias calias="nano ~/.bash_aliases"
alias salias="source ~/.bashrc"

# Git aliases
alias gts="git status"
alias gta="git add "
alias gtc="git commit -m "
alias gtr="git rebase "
alias gtb="git branch "
alias gtp="git push "
alias gtca="git commit --amend"
alias gtd="git branch -D "
alias gtr="git rebase main"
alias gtbv="git branch -vv"

alias ft='forge test'
alias ftb='forge test --match-path '
alias ftv='forge test -vvv'

# Claude aliases
alias claudeskip="claude --dangerously-skip-permissions"
